* {
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: 'Bungee';
	src: url('/fonts/Bungee-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Cabin';
	src: url('/fonts/Cabin-VariableFont_wdth,wght.ttf') format('truetype');
}

body {
	background: #434343ff;
}

header {
	display: flex;
	width: 100%;
}

header img {
	border-radius: 50%;
	box-shadow: 2px 3px 10px black;
	margin: 30px;
	height: 40px;
	width: 40px;
}

header .header-links {
	display: flex;
	justify-content: space-evenly;
}

header a {
	color: #d9d9d9;
	text-decoration: none;
}

header a:hover {
	text-decoration: underline;
}

header h1 {
	font-family: 'Bungee', 'sans-serif';
	font-size: 12px;
	position: relative;
	top: 35%;
	margin: 0 30px;
}

.body-content {
	display: flex;
	margin: 0 100px;
}

.body-content .body-text h1 {
	color: #d9d9d9;
	font-family: 'Bungee', 'sans-serif';
	font-size: 30px;
	margin: 10px 0 0 0;
}

.body-content .body-text h2 {
	color: #6aa84f;
	font-family: 'Bungee', 'sans-serif';
	font-size: 40px;
	overflow: hidden;
	margin: -30px 0 0 0;
	width: 80%;
}

.body-content .body-text p {
	color: #d9d9d9;
	font-family: 'Cabin', 'sans-serif';
	width: 80%;
}

.body-content .body-text p strong {
	color: #6aa84f;
}

.body-content .body-buttons {
	display: flex;
	justify-content: space-evenly;
	margin: 30px 0 0 0;
	width: 80%;
}

.body-content .body-buttons a {
	border-radius: 8px;
	background-color: #6aa84f;
	color: #d9d9d9;
	padding: 0 15px;
	text-decoration: none;
}

.body-content .body-buttons a:hover {
	text-decoration: underline;
}

.body-content .body-buttons a h3 {
	font-family: 'Bungee', 'sans-serif';
}

.body-content .body-image img {
	border-radius: 25px;
	box-shadow: 2px 4px 20px black;
	height: 450px;
}